{% extends 'base.html' %}
{% block title %}
    Shopping Cart
{% endblock title %}
{% block content %}
    <table class="table table-dark table-striped ">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Total Price</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.product }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.final_price }}</td>
            <td>{{ item.total_price }}</td>
            <td><a class="btn btn-danger center" href="{% url 'orders:cart-remove' item.id %}">Remove</a> </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3"></td>
          <td>Total Price</td>
          <td>{{ cart.total_price }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
{% if cart %}
  <a href="{% url 'orders:order-create' %}" class="btn btn-dark">Checkout</a>
{% endif %}
{% endblock content %}