{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'products:home' %}">Home</a>

            {% if request.user.is_authenticated %}
                 <div class="dropdown">
                    <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item active" href="{% url 'accounts:profile' %}">
                            {% if request.user.first_name %}
                                {{ request.user.first_name }}
                            {% else %}
                                {{ request.user.email }}
                            {% endif %}
                                </a>
                            </li>
                            <li><a class="nav-link dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
                        </a>
                    </ul>
                 </div>

            {% else %}
                <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    {% for category in main_categories %}
                        <li><a class="dropdown-item active bg-dark" href="{{ category.url }}">{{ category.name }}</a></li>
<!--                        <li><hr class="dropdown-divider"></li>-->
                        {% for child in category.children %}
                            <li><a class="dropdown-item" href="{{ child.url }}">{{ child.name }}</a></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>

                    {% endfor %}
                </ul>
            </div>
            <a  class="nav-link active" aria-current="page" href="{% url 'orders:cart' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="White" class="bi bi-cart2" viewBox="0 0 16 16">
                  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                ({{ cart | length }})
            </a>
        </div>
    </div>
</nav>